$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@media (max-width: 768px) {
  #media-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form-size {
    padding: 20px;
  }
}
